USE [supermarket]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 2021/12/31 23:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(3175,1) NOT NULL,
	[customer_name] [varchar](50) NOT NULL,
	[customer_pwd] [varchar](50) NOT NULL,
	[customer_vip] [int] NOT NULL,
	[logout] [int] NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [customer_name], [customer_pwd], [customer_vip], [logout]) VALUES (3175, N'小明', N'12uufd', 0, 0)
INSERT [dbo].[customer] ([customer_id], [customer_name], [customer_pwd], [customer_vip], [logout]) VALUES (3176, N'小乌', N'fmk322', 0, 0)
INSERT [dbo].[customer] ([customer_id], [customer_name], [customer_pwd], [customer_vip], [logout]) VALUES (3180, N'小吴', N'23bbf2', 0, 0)
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_customer_vip]  DEFAULT ((0)) FOR [customer_vip]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_logout]  DEFAULT ((0)) FOR [logout]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [CK_customer_logout] CHECK  (([logout]>=(0) AND [logout]<=(1)))
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [CK_customer_logout]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [CK_customer_pwd] CHECK  ((len([customer_pwd])=(6)))
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [CK_customer_pwd]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [CK_customer_vip] CHECK  (([customer_vip]>=(0) AND [customer_vip]<=(3)))
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [CK_customer_vip]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-正常用户，1-已注销' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'customer', @level2type=N'CONSTRAINT',@level2name=N'CK_customer_logout'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'规定顾客密码是6位字符串' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'customer', @level2type=N'CONSTRAINT',@level2name=N'CK_customer_pwd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'规定vip最多3级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'customer', @level2type=N'CONSTRAINT',@level2name=N'CK_customer_vip'
GO
